@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/*--------------
    animate
 --------------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 25%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 25%;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 25%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 25%;
  }
}
@-webkit-keyframes loader-circle {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(5, 5, 5);
            transform: scale3d(5, 5, 5);
    opacity: 1;
  }
}
@keyframes loader-circle {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(5, 5, 5);
            transform: scale3d(5, 5, 5);
    opacity: 1;
  }
}
.hero-container {
  margin: 0 0 36px;
}
.hero-main .swiper-slide {
  background: #eee url(../images/assets/hero-00.svg) center center no-repeat;
}
.hero-main .hero-item {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-main .hero-item .mobile {
  display: none !important;
}
.hero-main .hero-item .img-wrap {
  position: relative;
  z-index: 1;
  padding-bottom: 480px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-main .hero-item .img-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -o-object-position: 50% 38%;
     object-position: 50% 38%;
}
.hero-main .hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 60%;
  height: 100%;
  padding: 0 5vw 0 0;
}
.hero-main .hero-info-inner {
  margin: 0 0 0 auto;
  text-align: right;
  position: relative;
  width: 100%;
}
.hero-main .hero-info-title {
  margin: 0 0 0.25em;
  font-size: 3em;
  font-weight: 500;
  color: #fff;
}
.hero-main .hero-info-text {
  margin: 0 0 1.5em auto;
  max-width: 260px;
  line-height: 1.5;
  font-size: 1.35em;
  color: #fff;
}
.hero-main .hero-info-period {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}
.hero-main .btn-primary {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.hero-main .btn-primary:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.hero-thumb {
  max-width: 1000px;
}
.hero-thumb .thumb-item {
  position: relative;
  margin: 24px 16px;
  cursor: pointer;
}
.hero-thumb .thumb-item:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  padding-bottom: calc(50% + 6px);
  border: 3px solid #FF0066;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.hero-thumb .thumb-item .img-wrap {
  position: relative;
  padding-bottom: 50%;
  margin: 6px;
  background-image: url(../images/assets/thumb-00.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.hero-thumb .thumb-item .img-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.hero-thumb .thumb-item:hover {
  -webkit-box-shadow: 0 8px 24px -8px rgba(212, 24, 114, 0.5);
          box-shadow: 0 8px 24px -8px rgba(212, 24, 114, 0.5);
}
.hero-thumb .thumb-item:hover:before {
  opacity: 1;
}
.hero-thumb .thumb-item:hover .img-wrap {
  opacity: 1;
}
.hero-thumb .swiper-slide-thumb-active .thumb-item {
  -webkit-box-shadow: 0 8px 24px -8px rgba(212, 24, 114, 0.5);
          box-shadow: 0 8px 24px -8px rgba(212, 24, 114, 0.5);
}
.hero-thumb .swiper-slide-thumb-active .thumb-item:before {
  opacity: 1;
}
.hero-thumb .swiper-slide-thumb-active .thumb-item .img-wrap {
  opacity: 1;
}

/* swiper modify */
.hero-container .swiper-button-next, .hero-container .swiper-button-prev {
  color: #fff;
}
.hero-container .swiper-button-next:after, .hero-container .swiper-button-prev:after {
  font-size: 2em;
}
.hero-container .swiper-button-next:after, .hero-container .swiper-container-rtl .swiper-button-prev:after {
  font-family: "icomoon" !important;
  content: "";
}
.hero-container .swiper-button-prev:after, .hero-container .swiper-container-rtl .swiper-button-next:after {
  font-family: "icomoon" !important;
  content: "";
}
.hero-container .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-container .swiper-pagination-custom, .hero-container .swiper-pagination-fraction {
  top: 0;
  bottom: unset;
}
.hero-container .swiper-pagination-bullet {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  height: 4px;
  border-radius: 0;
  background: transparent;
  overflow: hidden;
  opacity: 1;
}
.hero-container .swiper-pagination-bullet:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-container .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0);
}
.hero-container .swiper-pagination-bullet-active:before {
  background-color: #FF0066;
  -webkit-animation: slide-progress 8s forwards;
          animation: slide-progress 8s forwards;
}
.swiper-paused .hero-container .swiper-pagination-bullet-active:before {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.news {
  margin: 0 0 80px;
}
.news-container {
  margin: 0 0 64px;
}
.news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.news-inner:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#A445B2), color-stop(50%, #D41872), to(#FF0066));
  background-image: linear-gradient(to right, #A445B2 0%, #D41872 50%, #FF0066 100%);
}
.news-item {
  padding: 1em 1.5em;
  width: 80%;
  max-width: 480px;
  font-size: 0.875em;
  color: #fff;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#A445B2), color-stop(50%, #FF0066), to(#D41872));
  background-image: linear-gradient(to right, #A445B2 0%, #FF0066 50%, #D41872 100%);
  border-radius: 2px;
  -webkit-transform: skewX(-16deg);
          transform: skewX(-16deg);
  -webkit-box-shadow: 0 8px 24px -8px rgba(212, 24, 114, 0.5);
          box-shadow: 0 8px 24px -8px rgba(212, 24, 114, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news-item-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: skewX(16deg);
          transform: skewX(16deg);
}
.news-item-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.news-item i {
  display: block;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 0 1em 0 0;
}
.news-item p {
  padding: 0.25em 0 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
}
.news-item:hover {
  background-position: right center;
  -webkit-transform: skewX(-16deg) scale(1.01, 1.01);
          transform: skewX(-16deg) scale(1.01, 1.01);
}
.news-item:hover .marquee .marqueeText {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.news .marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 20px;
}
.news .marquee .marqueeText {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: scroll-left 12s linear infinite;
          animation: scroll-left 12s linear infinite;
}

.game-item {
  position: relative;
  overflow: hidden;
}
.game-item .img-wrap {
  position: relative;
  padding-bottom: 100%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.game-item .img-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.game-item.label-new .img-wrap:before, .game-item.label-hot .img-wrap:after {
  position: absolute;
  top: 12px;
  left: 0;
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 46px;
  height: 23px;
  border-radius: 0 15px 15px 0;
  font-size: 10px;
  font-weight: 400;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 4px 5px 8px;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.29);
}
.game-item.label-new .img-wrap:before {
  content: "NEW";
  background-image: -webkit-gradient(linear, left top, right top, from(#358DD4), to(#06F2FA));
  background-image: linear-gradient(to right, #358DD4 0%, #06F2FA 100%);
  text-shadow: 0 0 3px #00364b;
}
.game-item.label-hot .img-wrap:after {
  content: "HOT";
  background-image: -webkit-gradient(linear, left top, right top, from(#D81C85), to(#FE0066));
  background-image: linear-gradient(to right, #D81C85 0%, #FE0066 100%);
  text-shadow: 0 0 3px #530023;
}
.game-item.label-new.label-hot .img-wrap:after {
  top: 42px;
}
.game-item-info {
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 2;
}
.game-item-name {
  font-size: 1rem;
  color: white;
}
@media only screen and (max-width: 450px) {
  .game-item-name {
    font-size: 0.84375rem;
  }
}
.game-item-btn {
  margin-top: 10px;
}
.game-item:hover .game-item-info {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.game-item:hover .game-item-link::after {
  opacity: 1;
}
.game-item-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  z-index: 2;
}
.game-item-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  opacity: 0;
  z-index: 2;
}

.game-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.game-item-group .game-item {
  position: relative;
  margin: 12px;
  width: calc(100% / 5 - 24px);
}
.game-item-group .game-item:before {
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  padding-bottom: calc(100% + 4px);
  border: 2px solid #FF0066;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 24px -8px rgba(212, 24, 114, 0.5);
          box-shadow: 0 4px 24px -8px rgba(212, 24, 114, 0.5);
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.game-item-group .game-item:hover:before {
  opacity: 1;
}

.round-arrow .game-item {
  margin: 0 16px 0 0;
}
.round-arrow .swiper-button-prev {
  display: none;
}
.round-arrow .swiper-button-next {
  right: 0;
  width: 36px;
  height: 36px;
  color: #fff;
  border-radius: 100%;
  background-color: #FF0066;
  -webkit-box-shadow: 0 0 10px rgba(137, 153, 167, 0.5);
          box-shadow: 0 0 10px rgba(137, 153, 167, 0.5);
}
.round-arrow .swiper-button-next:after {
  font-family: "icomoon" !important;
  content: "";
  font-size: 1.5em;
}
.round-arrow .swiper-button-next:active {
  top: calc(50% + 2px);
}
.round-arrow.theme-purple .swiper-button-next {
  background-color: #A445B2;
}

.pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}
.pop .wrap-box {
  width: 45%;
  overflow: hidden;
}
.pop .wrap-box .swiper-container {
  overflow: visible;
}
.pop .wrap-box .swiper-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 0.75em;
  height: 100%;
  background-color: #fff;
}

.push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.push .desk {
  display: none;
}
.push .wrap-box {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}
.push .wrap-box img {
  width: 100%;
}
.push .btn {
  position: absolute;
  bottom: 15px;
  font-size: 1rem;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.push .game-rules .btn {
  right: 10px;
}
.push .game-play .btn {
  left: 10px;
}

.menu-wrap-main {
  background: rgba(0, 0, 0, 0.03);
}
.menu-wrap-main .menu-container {
  max-width: 99%;
}
.menu-wrap-sub {
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
}
.menu-wrap-sub .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 760px;
}
.menu-wrap-sub .tab-menu .tab-item {
  margin: 0;
}
.menu-wrap-sub .tab-menu .tab-item-link {
  color: rgba(44, 45, 58, 0.85);
}

.menu-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}
.tab-menu::-webkit-scrollbar {
  display: none;
  /* MUST HAVE!!! 以防 ios scrollbar問題 */
}
.tab-menu .tab-item {
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
}
.tab-menu .tab-item-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5em 1em;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.tab-menu .tab-item-link:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: 4px;
  background-color: #FF0066;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tab-menu .tab-item-link i[class^=icon] {
  margin-right: 2px;
}
.tab-menu .tab-item-link i[class^=icon].icon-casinoworld-fish-1 {
  margin-right: 4px;
}
.tab-menu .tab-item:hover > .tab-item-link, .tab-menu .tab-item.actived > .tab-item-link {
  color: #FF0066;
}
.tab-menu .tab-item:hover > .tab-item-link:after, .tab-menu .tab-item.actived > .tab-item-link:after {
  width: calc(100% - 2em);
}
.tab-menu.menu-main {
  padding: 4px 0;
}
.tab-menu.menu-sub {
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 1px 0;
  font-size: 15px;
}
.tab-menu.menu-sub .tab-item {
  text-align: center;
}

.menu-filter .custom-style {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  min-width: 5rem;
}
.game-list .page-content {
  margin-top: 0;
  padding-top: 0;
}
.recommend-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recommend-list .box-item {
  margin: 0 0 1em;
  width: calc(50% - .5em);
}
.recommend-list .game-item:hover .img-wrap::after {
  content: unset;
}
.recommend-list .box-item-link {
  height: 100%;
}
.recommend-list .box-item-inner {
  height: 100%;
}

.mygame {
  width: 100%;
}
.mygame .game-item-group {
  margin: -1em -12px 0;
}
.mygame .game-item-group .game-item {
  width: calc(100% / 7 - 20px);
  margin: 12px 10px;
  min-width: 120px;
}

.register-list .btn-register-steps {
  margin-top: 2rem;
}
.register-list .btn-register-steps .btn {
  font-size: 1.25rem;
}
.register-list .btn-register-steps .btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 170px;
  margin: 0 auto;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 48px;
  height: 58px;
  background: url(../images/games/a-chi-coin.svg) center center no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 576px) {
  .register-list .btn-register-steps .btn {
    padding: 0.9375rem 2.8125rem 0.75rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .register-list .btn-register-steps .btn::before {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 2.625rem;
    width: 40px;
    height: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .register-list .btn-register-steps {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 575px) {
  .register-list .btn-register-steps .btn {
    margin: 0.25em auto;
    width: 100%;
  }
}

.register-steps .swiper-container {
  overflow: visible;
}
.register-steps .swiper-slide {
  width: 90%;
  max-width: 360px;
  height: auto;
}
.register-steps .step-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  position: relative;
  padding: 16px 16px 0 1px;
}
.register-steps .step-item-inner {
  padding-top: 16px;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  border-radius: 5px;
}
.register-steps .step-item .num {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -16px;
  z-index: 1;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: #FF0053;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
}
.register-steps .step-item .content {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  padding-top: 16px;
  height: 100%;
}
.register-steps .step-item .title {
  width: 90%;
  margin: 8px auto 0 auto;
  padding-bottom: 8px;
  border-bottom: solid 1px rgba(204, 204, 204, 0.65);
  font-size: 20px;
  color: #FF398A;
  background-color: #fff;
}
.register-steps .step-item .img-wrap {
  position: relative;
  padding-bottom: 280px;
  overflow: hidden;
}
.register-steps .step-item .img-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
}
.register-steps .step-item .img-wrap::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -35px;
  width: 103px;
  height: 117px;
}
.register-steps .step-item .desc {
  background-color: #F2F2F2;
  padding: 0.8rem 1rem;
  font-size: 0.9375rem;
  min-height: 26%;
}
.register-steps .step-item.step-1 .img-wrap::after {
  background: url(../images/games/step1_a-chi.svg) center center no-repeat;
}
.register-steps .step-item.step-2 .img-wrap::after {
  background: url(../images/games/step2_a-chi.svg) center center no-repeat;
}
.register-steps .step-item.step-3 .img-wrap::after {
  width: 120px;
  height: 157px;
  background: url(../images/games/step3_a-chi.svg) center center no-repeat;
}
@media only screen and (min-width: 768px) {
  .register-steps .step-item.step-1 .step-item-inner, .register-steps .step-item.step-2 .step-item-inner {
    position: relative;
  }
  .register-steps .step-item.step-1::before, .register-steps .step-item.step-2::before {
    content: "";
    position: absolute;
    right: 5px;
    top: calc( 40% - ( 20px / 2) );
    width: 40px;
    height: 30px;
    background: rgba(204, 204, 204, 0.3);
    z-index: 1;
  }
  .register-steps .step-item.step-1::after, .register-steps .step-item.step-2::after {
    content: "";
    position: absolute;
    right: -25px;
    top: calc( 40% - ( 50px / 2) );
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent rgba(204, 204, 204, 0.3);
    z-index: 1;
  }
}

.main-container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-container .main-contain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.main-container .page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0;
}

.Sidebar_Left {
  display: none;
}
.Sidebar_Left .section-category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.Sidebar_Right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.Sidebar_Right .section-category {
  display: none;
}

.section-category .category-item {
  margin-bottom: 1.5rem;
}
.section-category .category-item-inner {
  position: relative;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  overflow: hidden;
}
.section-category .category-item.cat-rwd {
  cursor: pointer;
}
.section-category .category-item.cat-rwd .img-wrap {
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;
}
.section-category .category-item.cat-rwd .img-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  width: 100%;
  height: 100%;
}
.section-category .category-item.cat-rwd .detail {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.2rem;
  padding: 4px 4px 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.section-category .category-item.cat-rwd .detail::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.section-category .category-item.cat-rwd .detail:before {
  content: "";
  position: relative;
  left: 0;
  bottom: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  -webkit-filter: drop-shadow(1px 1px 7px white);
          filter: drop-shadow(1px 1px 7px white);
  z-index: 1;
  background-size: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #444444;
}
.section-category .category-item.cat-rwd .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  z-index: 1;
}
.section-category .category-item.cat-rwd .title {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  margin-right: 4px;
  font-size: 0.875rem;
}
.section-category .category-item.cat-rwd .desc {
  font-size: 0.75rem;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.section-category .category-item.category-activity .title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
  top: calc( 35% - 0px);
  text-align: center;
  z-index: 1;
  font-size: 1.375rem !important;
  text-shadow: 0 0 0.2em black;
}
.section-category .category-item.category-activity .img-wrap {
  padding-bottom: 70%;
}
.section-category .category-item.banner-activity .category-item-inner {
  height: 0;
  padding-bottom: 100%;
  border-radius: 12px;
}
.section-category .category-item.banner-activity .category-item-inner:hover .content .game-link {
  color: white;
}
.section-category .category-item.banner-activity .img-wrap.b-reflect {
  -webkit-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.6, transparent), color-stop(0.94, #000), color-stop(1, #000));
}
.section-category .category-item.banner-activity .b-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc( ((450 - 300) / 450) * 60% );
  height: 60%;
  bottom: calc( (-100% / 3 * 2) + 10px );
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-category .category-item.banner-activity .content {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: calc( ((450 - 300) / 450) * 100% );
  height: 100%;
  bottom: calc( (-100% / 3 * 2) + 20px );
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 0.875rem;
  padding: 1rem 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-category .category-item.banner-activity .content h3 {
  font-size: 1rem;
}
.section-category .category-item.banner-activity .content .detail {
  width: 100%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  text-align: center;
}
.section-category .category-item.banner-activity .content .logo {
  width: 55px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.section-category .category-item.banner-activity .content .logo .img-wrap {
  padding: 5px;
  width: 55px;
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.section-category .category-item.banner-activity .content .logo img {
  width: 100%;
}
.section-category .category-item.banner-activity .content .intro {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.section-category .category-item.banner-activity .content .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.section-category .category-item.banner-activity .content .game-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section-category .category-item.banner-activity .content .game-link .btn {
  color: rgba(255, 255, 255, 0.7);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0;
  border-radius: 0;
}
.section-category .category-item.banner-activity .content .game-link .btn + .btn::before {
  content: "";
  width: 1px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: -1px;
  top: 10px;
}
.section-category .category-item.banner-activity .content .game-link .btn:hover {
  background-color: rgba(255, 255, 255, 0.45);
  color: white;
}
.section-category .category-item.banner-activity.b-01 .category-item-inner,
.section-category .category-item.banner-activity.b-01 .b-bg {
  background: #052015;
}
.section-category .category-item.banner-activity.b-01 .game-link {
  background: rgba(0, 167, 108, 0.3);
}
.section-category .category-item.banner-activity.b-01 .content .logo .img-wrap {
  padding: 3px;
  background: linear-gradient(135deg, #4b5b85 0%, #10204d 100%);
  border-color: rgba(236, 255, 247, 0.1);
}
.section-category .category-item.banner-activity.b-02 .category-item-inner,
.section-category .category-item.banner-activity.b-02 .b-bg {
  background: #021b41;
}
.section-category .category-item.banner-activity.b-02 .game-link {
  background: rgba(0, 32, 95, 0.55);
}
.section-category .category-item.banner-activity.b-02 .content .logo .img-wrap {
  background: linear-gradient(135deg, #ed203e 0%, #8a1e2f 100%);
  border-color: rgba(255, 214, 220, 0.1);
}
.section-category .category-item:hover .detail {
  color: #fff;
}
.section-category .category-item:hover .detail::before {
  background-color: #fff;
}
.section-category .category-item:hover .detail::after {
  background-color: #000;
}
.section-category .category-item.category-casino .detail:before {
  -webkit-mask: url(../images/assets/icon/dice.svg);
  mask: url(../images/assets/icon/dice.svg);
}
.section-category .category-item.category-casino:hover .detail::after {
  background-color: rgba(254, 150, 28, 0.6);
}
.section-category .category-item.category-classic .detail:before {
  -webkit-mask: url(../images/assets/icon/poker.svg);
  mask: url(../images/assets/icon/poker.svg);
}
.section-category .category-item.category-classic:hover .detail::after {
  background-color: rgba(20, 20, 81, 0.6);
}
.section-category .category-item.category-sport .detail:before {
  -webkit-mask: url(../images/assets/icon/football.svg);
  mask: url(../images/assets/icon/football.svg);
}
.section-category .category-item.category-sport:hover .detail::after {
  background-color: rgba(115, 154, 36, 0.6);
}
.section-category .category-item.category-slot .detail:before {
  -webkit-mask: url(../images/assets/icon/slot.svg);
  mask: url(../images/assets/icon/slot.svg);
}
.section-category .category-item.category-slot:hover .detail::after {
  background-color: rgba(42, 5, 109, 0.6);
}
@media only screen and (min-width: 1600px) {
  .section-category .category-item.cat-rwd .detail:before {
    width: 32px;
    height: 32px;
  }
  .section-category .category-item.cat-rwd .title {
    font-size: 1rem;
  }
  .section-category .category-item.cat-rwd .desc {
    font-size: 0.8125rem;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1360px) {
  .section-category .category-item.category-activity .title {
    font-size: 1.25rem;
    top: calc( 35% - 25px);
  }
  .section-category .category-item.category-activity .img-wrap {
    padding-bottom: 90%;
  }
  .section-category.category-game .category-item .img-wrap {
    padding-bottom: 90%;
  }
  .section-category.category-game .category-item .img-wrap img {
    width: 115%;
    left: -10%;
  }
}

.article-list .article-item {
  background: #fff;
  padding: 16px 8px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.article-list .article-item:hover {
  cursor: pointer;
  background-color: #dadadd;
}
.article-list .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-list h4 {
  font-size: 1rem;
}

.partner .page-content {
  padding: 20px 15px;
}
.partner .sec-title-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partner .sec-title-wrap .title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.partner .sec-title-wrap .title:before {
  width: 100%;
  height: 3px;
  margin: 0;
  margin-top: 4px;
}
.partner .title {
  text-align: center;
}
.partner .logo {
  text-align: center;
}
.partner .logo .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partner .logo-item {
  padding: 5px 20px;
  width: calc( 100% / 9);
}
.partner .logo .img-crop {
  text-align: center;
}
.partner .logo .img-crop img {
  width: 100%;
  max-width: 200px;
}
@media only screen and (max-width: 577px) {
  .partner .sec-title-wrap .title {
    display: none;
  }
  .partner .logo-item {
    width: calc( 100% / 4);
  }
}

.about {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 2rem;
}
.about .text-wrap p {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 577px) {
  .push .mobile {
    display: none;
  }
  .push .desk {
    display: block;
  }
  .push .wrap-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .push .wrap-box:first-child {
    padding-right: 1%;
  }
  .push .wrap-box:last-child {
    padding-left: 1%;
  }
  .push .btn {
    font-size: 1rem;
  }
  .push .game-rules .btn {
    right: 30px;
  }
  .push .game-play .btn {
    left: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-main .hero-info-period {
    padding-top: 3.5rem;
  }

  .hero-main .hero-info-period {
    font-size: 0.8rem;
  }

  .tab-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .push .btn {
    bottom: 20px;
    font-size: 1.125rem;
  }
  .push .game-rules .btn {
    right: 50px;
  }
  .push .game-play .btn {
    left: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .hero-main .hero-info-period {
    padding-top: 4.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main-container .main-contain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding-right: calc( (100% - 768px) / 2 );
  }
  .main-container .page-content {
    max-width: 768px;
  }

  .Sidebar_Left {
    display: block;
    width: calc( 100% - 768px );
    padding-right: 1.2rem;
  }

  .Sidebar_Right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc( (100% - 768px) / 2);
    padding-left: 1.2rem;
  }
  .Sidebar_Right .section-category {
    display: block;
  }

  .section-category .category-item.banner-activity .category-item-inner:hover .b-bg {
    bottom: 0;
  }
  .section-category .category-item.banner-activity .category-item-inner:hover .content {
    bottom: 0;
  }

  .register-list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 7rem;
  }
  .about .text-wrap p {
    margin-bottom: 2rem;
  }

  .register-steps .step-item .content {
    padding-top: 26px;
  }
  .register-steps .step-item .title {
    padding-bottom: 12px;
  }
  .register-steps .step-item .desc {
    padding: 1.5rem 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .main-container .main-contain {
    padding-right: calc( (100% - 920px) / 2 );
  }
  .main-container .page-content {
    max-width: 920px;
  }

  .Sidebar_Left {
    width: calc( 100% - 920px );
    padding-right: 1.3rem;
  }

  .Sidebar_Right {
    width: calc( (100% - 920px) / 2);
    padding-left: 1.2rem;
  }

  .section-category .category-item.banner-activity .category-item-inner .desc {
    position: static;
    white-space: unset;
  }
  .section-category .category-item.banner-activity .category-item-inner .b-bg {
    bottom: calc( (-100% / 3 * 2) - 30px);
  }
  .section-category .category-item.banner-activity .category-item-inner .game-link {
    margin-top: 1rem;
  }
  .section-category .category-item.banner-activity .category-item-inner:hover .b-bg {
    bottom: calc( (-100% / 3 * 1) + 8px );
  }
  .section-category .category-item.banner-activity .category-item-inner:hover .content {
    bottom: calc( (-100% / 3 * 1) + 8px );
  }

  .push .btn {
    font-size: 1.0625rem;
  }
  .push .game-rules .btn {
    right: 60px;
  }
  .push .game-play .btn {
    left: 60px;
  }
}
@media only screen and (min-width: 1600px) {
  .main-container .main-contain {
    padding-right: calc( (100% - 1000px) / 2 );
  }
  .main-container .page-content {
    max-width: 1000px;
  }

  .Sidebar_Left {
    width: calc( 100% - 1000px );
    padding-right: 2.5rem;
  }

  .Sidebar_Right {
    width: calc( (100% - 1000px) / 2);
    padding-left: 2.5rem;
  }

  .section-category .category-item .detail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-category .category-item .text {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .section-category .category-item .title {
    width: auto;
  }

  .section-category .category-item.banner-activity .category-item-inner .content {
    padding-top: 1.5rem;
    bottom: calc( (-100% / 3 * 2) + 0px );
  }
  .section-category .category-item.banner-activity .category-item-inner .b-bg {
    bottom: calc( (-100% / 3 * 2) - 30px);
  }
  .section-category .category-item.banner-activity .category-item-inner .game-link {
    margin-top: 10px;
  }
  .section-category .category-item.banner-activity .category-item-inner .game-link .btn {
    padding-bottom: 50px;
  }
  .section-category .category-item.banner-activity .category-item-inner:hover .b-bg {
    bottom: calc( (-100% / 3 * 2) + 75px );
  }
  .section-category .category-item.banner-activity .category-item-inner:hover .content {
    bottom: calc( (-100% / 3 * 2) + 75px );
  }
}
@media only screen and (min-width: 1920px) {
  .section-category .category-item.banner-activity .category-item-inner:hover .b-bg {
    bottom: calc( (-100% / 3 * 2) + 60px );
  }
  .section-category .category-item.banner-activity .category-item-inner:hover .content {
    bottom: calc( (-100% / 3 * 2) + 60px );
  }
}
@media only screen and (max-width: 960px) {
  .mygame .game-item-group {
    margin: -0.5em -12px 0;
  }
  .mygame .game-item-group .game-item {
    width: calc(100% / 6 - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .hero-container {
    margin: 0 0 12px;
  }
  .hero-main .hero-item .img-wrap {
    padding-bottom: 360px;
  }
  .hero-main .hero-info-title {
    font-size: 2em;
  }
  .hero-main .hero-info-text {
    font-size: 1.125em;
  }
  .hero-thumb .thumb-item {
    margin: 16px 4px;
  }

  .news {
    margin: 0 0 36px;
  }
  .news-item {
    padding: 0.75em 1.5em;
  }

  .mygame .game-item-group .game-item {
    width: calc(100% / 5 - 16px);
    margin: 12px 8px;
  }
}
@media (max-width: 768px) {
  .pop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pop .wrap-box {
    margin: 0 0 2em;
    width: 100%;
    overflow: visible;
  }
  .pop .wrap-box:last-child {
    margin: 0;
  }
  .pop .wrap-box .swiper-container {
    margin: 0 -16% 0 0;
  }
  .pop .wrap-box .swiper-container:after {
    display: none;
  }

  .game-list .game-item-group .game-item {
    width: calc(100% / 4 - 24px);
  }
}
@media only screen and (max-width: 576px) {
  .hero-main .hero-item .mobile {
    display: inherit !important;
  }
  .hero-main .hero-item .desktop {
    display: none !important;
  }
  .hero-main .hero-item .img-wrap {
    padding-bottom: 348px;
  }
  .hero-main .hero-info {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media only screen and (max-width: 540px) {
  .hero-main {
    position: relative;
  }
  .hero-main .hero-item .img-wrap {
    padding-bottom: 284px;
  }
  .hero-main .hero-info {
    display: block;
    position: absolute;
    top: unset;
    bottom: 0;
    padding: 0 5%;
    width: 100%;
    height: 50%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .hero-main .hero-info-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0 auto;
    text-align: left;
  }
  .hero-main .hero-info-title {
    margin: 0;
    width: 60%;
    font-size: 1.25em;
  }
  .hero-main .hero-info-text {
    margin: unset;
    width: 60%;
    font-size: 0.875em;
  }
  .hero-main .btn-primary {
    position: absolute;
    right: 0;
    top: 1.1rem;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    padding: 0.25em 1em 0.3em;
  }
  .hero-main .btn-primary span {
    font-size: 0.875em;
  }
  .hero-thumb .thumb-item {
    margin: 16px 0;
  }
  .hero-thumb .thumb-item:before {
    top: -4px;
    left: 2px;
    width: calc(100% - 4px);
    padding-bottom: calc(50% + 4px);
    border: 2px solid #FF0066;
  }

  .hero-container .swiper-button-next, .hero-container .swiper-button-prev {
    display: none;
  }

  .news-item {
    padding: 0.5em 1.5em;
  }
  .news-item i {
    margin: 0 0.5em 0 0;
    font-size: 1.25em;
  }
  .news-item p {
    font-size: 0.875em;
  }

  .round-arrow .swiper-button-next {
    display: none;
  }

  .round-arrow .game-item {
    margin: 0 12px 0 0;
  }

  .recommend-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recommend-list .box-item {
    margin: 0 0 0.25em;
    width: 100%;
  }

  .mygame .game-item-group {
    display: block;
    margin: 0 -2%;
    white-space: nowrap;
    overflow-x: auto;
  }
  .mygame .game-item-group::after {
    display: block;
    content: "";
    clear: both;
  }
  .mygame .game-item-group .game-item {
    display: inline-block;
    margin: 4px;
    width: calc(100% / 4 - 4px);
  }
  .mygame .game-item-group .game-item:first-child {
    margin-left: 8px;
  }

  .tab-menu {
    margin: 0;
  }
  .tab-menu .tab-item {
    margin: 0 0.5em;
  }

  .game-list {
    margin: 2.5em 0 0;
  }
  .game-list .game-item-group .game-item, .game-list .game-item-group .game-item:nth-child(3) {
    margin: 8px;
    width: calc(100% / 3 - 16px);
  }
}
@media only screen and (max-width: 376px) {
  .hero-main .hero-item .img-wrap {
    padding-bottom: 240px;
  }

  .mygame .game-item-group .game-item {
    width: calc(100% / 3 - 4px);
  }

  .game-list .game-item-group .game-item, .game-list .game-item-group .game-item:nth-child(3) {
    width: calc(100% / 2 - 16px);
  }
}
@media only screen and (max-width: 320px) {
  .hero-main .hero-item .img-wrap {
    padding-bottom: 220px;
  }
}
@-webkit-keyframes slide-progress {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-progress {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}