<?xml version="1.0"?>
<configuration>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="Auto" uiCulture="Auto"/>
    <httpRuntime targetFramework="4.7.2" requestValidationType="RequestValidatorDisabled" executionTimeout="110" maxRequestLength="100000"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="HttpPostLocalhost"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <clear/>
    <add name="DBConnStr" connectionString="Data Source=172.16.16.34,1433;Network Library=DBMSSOCN;Initial Catalog=Ocw2;User ID=sa;Password=1sqaaz@wsx;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Version" value="0.0.1"/>
    <add key="TimeZone" value="0"/>
    <add key="IsTestSite" value="true"/>
    <add key="WebRedisConnStr" value="172.16.16.35:6383,abortConnect=False,ssl=False"/>
    <add key="Key" value="BEIA17686595176951"/>
    <add key="PrivateKey" value="246f2842-aef4-4466-884d-d422489f92df"/>
    <add key="CompanyCode" value="BIAN"/>
    <add key="MainCurrencyType" value="KRW"/>
    <add key="ConvertCurrencyType" value="KRW"/>
    <add key="RegisterCurrencyType" value="KRW"/>
    <add key="MainPersonCode" value="S93615797299145"/>
    <add key="EWinUrl" value="http://ewin.dev.mts.idv.tw"/>
    <add key="SharedFolder" value="C:\inetpub\Dev\Casino3651\Files"/>
    <add key="EWinGameUrl" value="http://ewin.dev.mts.idv.tw"/>
    <add key="EWinAgentUrl" value="http://ewin.dev.mts.idv.tw"/>
    <add key="CasinoWorldUrl" value="http://casino3651.dev.mts.idv.tw"/>
    <add key="EWin.Lobby.LobbyAPI" value="http://ewin.dev.mts.idv.tw/API/LobbyAPI.asmx"/>
    <add key="EWin.Login.LoginAPI" value="http://ewin.dev.mts.idv.tw/API/LoginAPI.asmx"/>
    <add key="EWin.Agent.AgentAPI" value="https://ewin.dev.mts.idv.tw/API/AgentAPI.asmx"/>
    <add key="EWin.OCW.OCW" value="http://ewin.dev.mts.idv.tw/API/Partner/OCW.asmx"/>
    <add key="EWin.Payment.PaymentAPI" value="https://ewin.dev.mts.idv.tw/API/PaymentAPI.asmx"/>
  <add key="CASINO3651API.CASINO3651" value="http://ewin.dev.mts.idv.tw/API/Partner/CASINO3651.asmx"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".apk"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service"/>
      </service>
    </services>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to set the max length -->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>